{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock title %}


{% block content %}

    

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <img src="{% static 'images/stickynotes-1.jpg' %}" class="shadow mb-5 rounded rounded-lg"  alt=""  width= "600" height= "550">
            </div>
            <div class="col mt-5">
                <center><p class="h1 text-$red">What is <font color="blue">TaskMate</font></font>? It's a simple, easy-to-use, absolutely free, fast and efficient note taking web app.</p></center>
                <br>
                <center><p class="h4">Better notes will help you remember concepts, develop meaningful learning skills, and gain a better understanding of a topic. Effective notes will even lead to less stress when test time comes around! </p></center>
                <br>
                <center><a href= "{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg shadow mb-5 rounded">Let's get started!</button></center></a>
            </div>
    </div>

{% endblock content %}